# Lab | Customer Analysis Round 6

For this lab, we still keep using the marketing_customer_analysis.csv file that you can find in the files_for_lab folder.

Get the data

We are using the marketing_customer_analysis.csv file.

Dealing with the data

Already done in the round 2.

Explore the data

Done in the round 3.

Processing Data

(Further processing...)

X-y split. (done)
Normalize (numerical). (done)
One Hot/Label Encoding (categorical).
Concat DataFrames
Linear Regression

Train-test split.
Apply linear regression.
Model Validation

Description:
R2.
MSE.
RMSE.
MAE.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('/Users/igorhufnagel/Desktop/Ironhack/LABS/Week 3/LAB_customer-analysis-round-6/lab-customer-analysis-round-6/files_for_lab/csv_files/marketing_customer_analysis.csv')

In [3]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [24]:
from sklearn.preprocessing import StandardScaler

In [35]:
# One Hot/Label Encoding (categorical)

numericals = data.select_dtypes(include=['float64', 'int64'])

In [36]:
X = numericals.drop(["Total Claim Amount", "Number of Open Complaints"], axis=1)
X = pd.DataFrame(StandardScaler().fit(X).transform(X))
Y = numericals["Total Claim Amount"]

In [37]:
categoricals = data.select_dtypes('object')

In [38]:
import statsmodels.api as sm

from sklearn.preprocessing import OneHotEncoder

In [39]:
for col in categoricals.columns:
    one_hot = pd.DataFrame(OneHotEncoder().fit(pd.DataFrame(categoricals[col])).transform(pd.DataFrame(categoricals[col])).toarray())

In [40]:
one_hot.head()

     0    1    2
0  0.0  1.0  0.0
1  0.0  1.0  0.0
2  0.0  1.0  0.0
3  0.0  1.0  0.0
4  0.0  1.0  0.0

In [41]:
# Concat DataFrames

X = pd.DataFrame(np.concatenate((X, one_hot), axis=1))

In [42]:
X.head()

          0         1         2         3         4         5    6    7    8
0 -0.762878  0.612827 -0.703925  1.678099 -1.543287 -0.822648  0.0  1.0  0.0
1 -0.149245 -1.239617  0.022691 -0.208186 -0.217334  2.106160  0.0  1.0  0.0
2  0.710636  0.365710  0.429596  0.288205 -0.360680 -0.404247  0.0  1.0  0.0
3 -0.052263 -1.239617  0.371467  0.288205  0.606907  1.687759  0.0  1.0  0.0
4 -0.755575  0.203390 -0.587666 -0.307465 -0.145661 -0.822648  0.0  1.0  0.0

In [43]:
# Linear Regression

model = sm.OLS(Y,X).fit()

In [44]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     Total Claim Amount   R-squared:                       0.528
Model:                            OLS   Adj. R-squared:                  0.527
Method:                 Least Squares   F-statistic:                     1274.
Date:                Wed, 01 Mar 2023   Prob (F-statistic):               0.00
Time:                        20:09:43   Log-Likelihood:                -61340.
No. Observations:                9134   AIC:                         1.227e+05
Df Residuals:                    9125   BIC:                         1.228e+05
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
0             -4.7602      2.279     -2.088      0.037      -9.228      -0.292
1            -99.8795      2.093    -47.722      0.000    -103.982     -95.777
2            184.0161      2.279     80.759      0.000     179.550     188.483
3             -1.1178      2.093     -0.534      0.593      -5.221       2.986
4             -3.0410      2.093     -1.453      0.146      -7.143       1.061
5              0.4096      2.092      0.196      0.845      -3.691       4.510
6            429.5886      6.499     66.101      0.000     416.849     442.328
7            419.4591      2.493    168.278      0.000     414.573     424.345
8            489.7795      4.757    102.961      0.000     480.455     499.104
==============================================================================
Omnibus:                     1040.612   Durbin-Watson:                   1.978
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7182.418
Skew:                           0.319   Prob(JB):                         0.00
Kurtosis:                       7.297   Cond. No.                         3.68
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [47]:
# Train-test split.

X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.4, random_state=100)

In [48]:
model_2 = sm.OLS(y_train,X_train).fit()

In [49]:
predictions = model.predict(X_test)

In [50]:
# R2

r2_score(y_test, predictions)

0.5001685000582069

In [51]:
# MSE

from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, predictions)

print (mse)

39713.06509746663

In [52]:
# RMSE 

import math

rmse = math.sqrt(mse)
print (rmse)

199.28137167700004

In [53]:
# MAE

from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test,predictions)
print (mae)

143.24788768025613

In [54]:
Y.describe()

count    9134.000000
mean      434.088794
std       290.500092
min         0.099007
25%       272.258244
50%       383.945434
75%       547.514839
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [ ]:
# The average claim amount is 434.088794 euros so using the RSME value of 199.28137167700004 euros and comparing
# with the previous value, I get an error of prediction of approximately 50%, which it can conclude that the model
# is not a good model to apply.